node_modules/
dist/
build/
.env
.env.local

*.log
.vite
.cache
*.tsbuildinfo

.vscode/
.idea/
.DS_Store
Thumbs.db

# pnpm-lock.yaml      # Uncomment if you don't want to commit lock files
# package-lock.json
# yarn.lock
